.slider-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 370px;
  background-color: rgb(216, 215, 215);
}
.slider-image {
  display: block;
  margin-top: 10px;
  margin-left: 47.5%;
  width: 80%;
  max-width: 300px;
}
.arrow-next,
.arrow-back {
  color: white;
  background-color: black;
  font-size: 30px;
  border-radius: 8px;
  padding: 5px;
  scale: 1.5;
  position: absolute;
}

.arrow-next:hover,
.arrow-back:hover {
  color: black;
  background-color: orange;
  padding: 5px;
  border-radius: 8px;
  scale: 1.5;
}

.slick-arrow.slick-prev {
  position: absolute;
  left: 450px;
  z-index: 5;
}
.slick-arrow.slick-next {
  position: absolute;
  right: 200px;
  z-index: 5;
}

@media screen and (max-width: 1000px) {
  .slider-image {
    margin: auto;
  }
  .slick-arrow.slick-prev {
    left: 10px;
  }
  .slick-arrow.slick-next {
    right: 10px;
  }
}

@media (max-width: 768px) {
  .slider-container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 408px) {
  .slider-container {
    width: 100%;
    height: 250px;
    padding: 0 40px;
  }
  .slider-image {
    width: 65%;
  }
}
